@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.image {
  background-image: url('/images/coolestHat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 30px;
}

.content {
  background: white;
  padding: 15px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0.8);
}